@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="recent">
    <div class="container">
        <div class="container row">
            <div class="col-4 mt-3">
                <dl>
                    <div class="widget-title" style=" background: #3f475f; ">
                        <h4 style=" min-width: 155px; background: #1f2337; color: #c7a86e; position: relative; max-width: 200px; font-size: 16px; font-weight: 600; line-height: 21px; padding: 10px 15px; white-space: nowrap; ">Adres</h4>
                    </div>
                    <dd class="search-location form-wrapper-modern" style=" padding: 20px; background: #fff; border: 1px solid #d7d7d7;">
                        <div class="select mb-2">
                            <select id="Cities" name="address_city" style=" width: 100%; height: 50px; border: 1px solid #ccc; border-radius: 2px; background: #fff url(/assets/images/select:3516048….png) right 0px top 18px no-repeat; background-size: 14px; padding: 0px 35px 0 14px; box-sizing: border-box; font-size: 14px; font-weight: 500; line-height: 100%; color: #333; -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: 0;">
                                <option value="0">İl</option>
                                <option value="34">İstanbul (Tümü)</option>
                                @*<option value="10001">İstanbul (Avrupa)</option>
                                <option value="10002">İstanbul (Anadolu)</option>*@
                                <option value="6">Ankara</option>
                                <option value="35">İzmir</option>
                                <option value="1">Adana</option>
                                <option value="2">Adıyaman</option>
                                <option value="3">Afyonkarahisar</option>
                                <option value="4">Ağrı</option>
                                <option value="68">Aksaray</option>
                                <option value="5">Amasya</option>
                                <option value="7">Antalya</option>
                                <option value="75">Ardahan</option>
                                <option value="8">Artvin</option>
                                <option value="9">Aydın</option>
                                <option value="10">Balıkesir</option>
                                <option value="74">Bartın</option>
                                <option value="72">Batman</option>
                                <option value="69">Bayburt</option>
                                <option value="11">Bilecik</option>
                                <option value="12">Bingöl</option>
                                <option value="13">Bitlis</option>
                                <option value="14">Bolu</option>
                                <option value="15">Burdur</option>
                                <option value="16">Bursa</option>
                                <option value="17">Çanakkale</option>
                                <option value="18">Çankırı</option>
                                <option value="19">Çorum</option>
                                <option value="20">Denizli</option>
                                <option value="21">Diyarbakır</option>
                                <option value="81">Düzce</option>
                                <option value="22">Edirne</option>
                                <option value="23">Elazığ</option>
                                <option value="24">Erzincan</option>
                                <option value="25">Erzurum</option>
                                <option value="26">Eskişehir</option>
                                <option value="27">Gaziantep</option>
                                <option value="28">Giresun</option>
                                <option value="29">Gümüşhane</option>
                                <option value="30">Hakkari</option>
                                <option value="31">Hatay</option>
                                <option value="76">Iğdır</option>
                                <option value="32">Isparta</option>
                                <option value="46">Kahramanmaraş</option>
                                <option value="78">Karabük</option>
                                <option value="70">Karaman</option>
                                <option value="36">Kars</option>
                                <option value="37">Kastamonu</option>
                                <option value="38">Kayseri</option>
                                <option value="71">Kırıkkale</option>
                                <option value="39">Kırklareli</option>
                                <option value="40">Kırşehir</option>
                                <option value="79">Kilis</option>
                                <option value="41">Kocaeli</option>
                                <option value="42">Konya</option>
                                <option value="43">Kütahya</option>
                                <option value="44">Malatya</option>
                                <option value="45">Manisa</option>
                                <option value="47">Mardin</option>
                                <option value="33">Mersin</option>
                                <option value="48">Muğla</option>
                                <option value="49">Muş</option>
                                <option value="50">Nevşehir</option>
                                <option value="51">Niğde</option>
                                <option value="52">Ordu</option>
                                <option value="80">Osmaniye</option>
                                <option value="53">Rize</option>
                                <option value="54">Sakarya</option>
                                <option value="55">Samsun</option>
                                <option value="56">Siirt</option>
                                <option value="57">Sinop</option>
                                <option value="58">Sivas</option>
                                <option value="63">Şanlıurfa</option>
                                <option value="73">Şırnak</option>
                                <option value="59">Tekirdağ</option>
                                <option value="60">Tokat</option>
                                <option value="61">Trabzon</option>
                                <option value="62">Tunceli</option>
                                <option value="64">Uşak</option>
                                <option value="65">Van</option>
                                <option value="77">Yalova</option>
                                <option value="66">Yozgat</option>
                                <option value="67">Zonguldak</option>
                            </select>
                        </div>
                        <div class="select mb-2">
                            <select id="District" name="address_district" disabled="disabled" style=" width: 100%; height: 50px; border: 1px solid #ccc; border-radius: 2px; background: #fff url(/assets/images/select:3516048….png) right 16px top 18px no-repeat; background-size: 14px; padding: 0px 35px 0 14px; box-sizing: border-box; font-size: 14px; font-weight: 500; line-height: 100%; color: #333; -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: 0;">
                                <option value="0">İlçe</option>
                            </select>
                        </div>
                        <div class="select mb-2">
                            <select id="neighborhood" name="address_neighborhood" disabled="disabled" style=" width: 100%; height: 50px; border: 1px solid #ccc; border-radius: 2px; background: #fff url(/assets/images/select:3516048….png) right 16px top 18px no-repeat; background-size: 14px; padding: 0px 35px 0 14px; box-sizing: border-box; font-size: 14px; font-weight: 500; line-height: 100%; color: #333; -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: 0;">
                                <option value="0">Mahalle</option>
                            </select>
                        </div>
                        <button class="btn btn-sm" style="background-color: #1f2337; width: 100%; color: white; height: 40px; " onclick="SEARCHFUNC()">Filtreleme Yap</button>
                    </dd>
                </dl>
            </div>
            <div class="col-8">
                <div id="InstructorList" class="mt-3">
                    <div class="search-info form-wrapper-modern">
                        <h3 style=" font-size: 21px; font-weight: 700; color: #333;">Tüm İlanlar</h3>
                    </div>
                    <div class="list row destroyInsList">
                    </div>
                    <ul class="pagination"></ul>
                </div>

            </div>
            <div style="display:none;">
                <div id="InstructorItem" class="col-md-6">
                    <div class="owl-item">
                        <div class="recent_item">
                            <div class="recent_item_inner">
                                <div class="recent_item_image" style=" text-align: -webkit-center; background-color: aliceblue;">
                                    <img class="Image" src="" alt="" style="height: 270px; width: auto;">
                                </div>
                                <div class="recent_item_body text-center">
                                    <div class="recent_item_location Location"></div>
                                    <div class="recent_item_title" style=" min-height: 100px; "><a href="property.html" class="EstateURL"><span class="Title"></span></a></div>
                                    <div class="recent_item_price Price"></div>
                                </div>
                                <div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
                                    <div><div class="recent_icon"><img src="~/Assets/images/icon_1.png" alt=""></div><span class="FloorLocation"> </span></div>
                                    <div><div class="recent_icon"><img src="~/Assets/images/icon_2.png" alt=""></div><span class="EstateRoom"></span></div>
                                    <div><div class="recent_icon"><img src="~/Assets/images/icon_3.png" alt=""></div><span class="AreaBrüt"> </span> m²</div>
                                </div>
                            </div>
                            <div class="tag_featured property_tag"><a href="#">Satışta</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    const options = {
        valueNames: ['ID', 'Title', { attr: 'href', name: 'EstateURL' }, { attr: 'src', name: 'Image' }, 'FloorCount', 'FloorLocation', 'Location', 'Price', 'EstateRoom', 'AreaBrüt'],
        item: 'InstructorItem',
        page: 9,
        pagination: true
    };
    $(document).ready(
        getCoursesList()
    );
    function SEARCHFUNC() {
        debugger
        $('.destroyInsList').empty();
        getCoursesList2();
    };
    function getCoursesList() {
        debugger
        var neighborhoodsCode = $('#neighborhood').val();
        var formdata = new FormData();
        formdata.append('neighborhoodsCode', neighborhoodsCode);
        $.ajax({
            type: "POST",
            url: '/Home/GetRealEstateList',
            data: formdata,
            processData: false,
            contentType: false,
            success: function (data) {
                new List('InstructorList', options, data.data);
            },
            error: function (request, status, error) {
                swal.fire("Hata!", "Bir sorun ile karşılaşıldı!", "error");
            }
        });
    };
    function getCoursesList2() {
        debugger
        var neighborhoodsCode = $('#neighborhood').val();
        var formdata = new FormData();
        formdata.append('neighborhoodsCode', neighborhoodsCode);
        $.ajax({
            type: "POST",
            url: '/Home/GetRealEstateList',
            data: formdata,
            processData: false,
            contentType: false,
            success: function (data) {
                debugger
                new List('InstructorList', options, data.data);
            },
            error: function (request, status, error) {
                swal.fire("Hata!", "Bir sorun ile karşılaşıldı!", "error");
            }
        });
    };

    $('#Cities').change(function myfunction() {
        debugger
        var CityKey = $('#Cities').val();
        var formData = new FormData();
        formData.append('citiesCode', CityKey);
        $.ajax({
            type: "POST",
            url: '/Home/DistrictForCities',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                debugger
                $('#District').prop('disabled', false);
                $('#NeighbourhoodID').prop('disabled', true);
                var list1 = "";
                for (var i = 0; i < data['data'].length; i++) {
                    list1 += `<option value="` + data['data'][i]['DistrictKey'] + `">` + data['data'][i]['DistrictName'] + `</option>`;
                }
                $('#District').empty();
                $('#District').append(list1);
            },
            error: function (request, status, error) {
                swal.fire("Hata!", "Bir sorun ile karşılaşıldı!", "error");
            }
        });
    });
    $('#District').change(function myfunction() {
        var DistrictKey = $('#District').val();
        var formData = new FormData();
        formData.append('DistrictKey', DistrictKey);
        $.ajax({
            type: "POST",
            url: '/Home/NeighbourhoodsForDistrict',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                debugger
                $('#neighborhood').prop('disabled', false);
                var list1 = "";
                for (var i = 0; i < data['data'].length; i++) {
                    list1 += `<option value="` + data['data'][i]['NeighbourhoodKey'] + `">` + data['data'][i]['NeighbourhoodName'] + `</option>`;
                }
                $('#neighborhood').empty();
                $('#neighborhood').append(list1);
            },
            error: function (request, status, error) {
                swal.fire("Hata!", "Bir sorun ile karşılaşıldı!", "error");
            }
        });
    });
</script>

